@font-face {
  font-family: 'Redaction-Regular';
  src: url('../fonts/Redaction-Regular.woff2') format('woff2'),
       url('../fonts/Redaction-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Redaction-Bold';
  src: url('../fonts/Redaction-Bold.woff2') format('woff2'),
       url('../fonts/Redaction-Bold.otf') format('opentype');
}

:root {
  --background-gray: #D9D9D9;
  --header-gray: #D9D9D9;
  --chat-send: #fbcc00;
  --chat-receive: #c1c1c1;
  --slider-colour: #fbcc00;
  --line-color: black;
  --line-width: 6px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/test_pointillised.png');
  background-repeat: repeat;
  background-size: 100vw;
  box-sizing: border-box;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 80vw;
  box-sizing: border-box;
}

#center-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

#bouwdio-am {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 85vh;
  box-sizing: border-box;
}

#bouwdio-am-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
  border-bottom: var(--line-width) solid var(--line-color);
  border-top: var(--line-width) solid var(--line-color);
}

#info-content {
  padding: 20px;
  background-color: var(--background-gray);
  height: 300px;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
}

#chat-window {
  background-color: var(--background-gray);
  height: 800px;
  border: var(--line-width) solid var(--line-color);
  padding: 0px;
  box-sizing: border-box;
}

#chat-iframe {
  width: 100vh; /*change in chat_style.css*/
  height: 100vw;
  border: 0;
}

#onsite-building {
  width: 50vw;
  height: 60vh;
  background-color: var(--background-gray);
  border-top: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
  border-bottom: var(--line-width) solid var(--line-color);
  position: relative;
}

#onsite-building-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-bottom: var(--line-width) solid var(--line-color);
}

#video-container {
  width: 100%;
  height: 100%;
  border-bottom: var(--line-width) solid var(--line-color);
}

#video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#online-building-window {
  position: absolute;
  top: 30vh;
  left: 55vw;
  width: 800px;
  height: 600px;
  border: var(--line-width) solid var(--line-color);
  background-color: var(--background-gray);
  z-index: 1000;
  resize: both;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#online-building-header {
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--header-gray);
  border-bottom: var(--line-width) solid var(--line-color);
  cursor: move;
}

#drawing-board {
  width: 100%;
  height: 400px;
  background-color: transparent;
  cursor: pointer;
}

#materials {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10px;
  padding: 10px;
  border-top: var(--line-width) solid var(--line-color);
}

.material {
  width: 30px;
  height: 30px;
  text-align: left;
  background-color: var(--background-gray);
  border: var(--line-width) solid var(--line-color);
  background-size: cover;
  position: relative;
}

.material p {
  font-size: 11px;
  position: absolute;
  left: -5px;
  top: 30px;
}

.material.selected {
  background-color: white;
}

#eraser-button {
  width: 30px;
  height: 30px;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border: var(--line-width) solid var(--line-color);
}

#eraser-button p {
  font-family: 'Helvetica', sans-serif;
  font-size: 11px;
  margin-top: 11px;
  text-align: left;
}

#size-slider-container {
  font-family: 'Redaction-Bold', serif;
  margin-top: 20px;
  margin-left: 0px;
  text-align: center;
  position: relative;
  top: 20px; /* Same position as material labels */
}

#size-slider {
  width: 100px;
  margin-left: 20px;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: var(--slider-colour);
  outline: none;
}

#size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#size-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}


/* -------------- chat css ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  place-items: center;
  background-color: #ebebeb;
}

.main {
  border: 8px solid #dddddd;
  border-radius: 24px;
}

.name {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  padding: 8px 16px;
  color: #707070;
  background-color: #ebebeb;
}

.name > span {
  color: var(--background-gray);
}

.name-input {
  font-size: 21px;
  padding: 10px;
  font-weight: 700;
  color: #707070;
  flex-grow: 1;
  border: 0;
  margin: 0 12px;
  outline: none;
  text-align: center;
  background-color: var(--header-gray);
}

/* Match Flexbox and sizing from #bouwdio-am */
.message-container {
  display: flex;
  flex-direction: column;
  background-color: var(--header-gray);
  width: 100%; /* Take full width of parent container */
  height: 40vh; /* Take full height of parent container */
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.message-left, .message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-left {
  border-radius: 20px 20px 20px 0px;
  align-self: flex-start;
  background-color: var(--chat-receive);
  box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  background-color: var(--chat-send);
  box-shadow: 2px 2px 4px #dcdcdc;
}

.message-left > p > span, .message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
  align-self: center;
}

.feedback {
  font-style: italic;
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  color: #2d2d2d;
  background-color: #f6f6f6;
  text-align: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Match parent width */
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.v-divider {
  width: 2px;
  height: 48px;
  background-color: #f6f6f6;
}

.clients-total {
  margin: 0px 0;
  padding: 10px;
  color: #7e7e7e;
}

.signal-circle {
  width: 30px;
  margin: 0 auto;
  height: 30px;
  border: 5px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
}
