@font-face {
  font-family: 'Redaction-Bold';
  src: url('assets/fonts/Redaction35-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SimplisticSans-Medium';
  src: url('assets/fonts/SimplisticSans-Medium.ttf') format('truetype');
}

:root {
  --background-gray: #D9D9D9;
  --header-gray: #D9D9D9;
  --button-grey: #626262;
  --chat-send: #fbcc00;
  --chat-receive: #c1c1c1;
  --slider-colour: #fbcc00;
  --line-color: black;
  --line-width: 5px;
  --thumbnail-line-width: 2.5px;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/test_pointillised.png');
  background-position: center;
  background-size: 150vh;
  background-repeat: repeat;
  box-sizing: border-box;
  z-index: -2; /* Plaats het achter andere elementen */
  position: relative;
  display: grid;
  place-items: center;
}

#pause-status-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 300px;
  background-color: var(--background-gray);
  border: var(--line-width) solid var(--line-color);
  color: black;
  z-index: 1000;
  position: relative;
}

#pause-status-window-header {
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

#disclaimer-text {
  font-family: 'SimplisticSans-Medium', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 20px;
}

#pause-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

#bouwdio-logo {
  width: 92%;
  height: auto;
  margin: 10px;
}

#security-camera img {
  display: block;  /* Zorg ervoor dat de afbeelding correct wordt weergegeven */
  width: 100px;  /* Stel de gewenste grootte in */
  margin: 0 auto; /* Zorgt ervoor dat het element in het midden staat */
  margin-top: 20px;  /* Pas de afstand aan tussen de camera en de bovenstaande tekst */
  margin-bottom: 20px;  /* Pas de afstand aan tussen de camera en de Caution tekst */
  height: auto;
  justify-content: center;
  align-items: center;
}


#pause-button-container {
  width: 100%;
  padding: 15px;
  border: var(--line-width) solid var(--line-color);
  margin-top: 20px;
}

#click-to-connect-button {
  width: 100%; /* Maakt de knop de volledige breedte van het parent-element */
  margin: 0; /* Verwijdert eventuele standaard marges die het kan hebben */
  box-sizing: border-box;
  background-color: var(--header-grey);
  color: var(--line-color);
  font-family: 'Redaction-Bold', serif;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-top: var(--line-width) solid var(--line-color);
  cursor: pointer;
}

#click-to-connect-button:hover {
  background-color: var(--line-color);
  color: white;
}

#main-container {
  margin-top: -200px;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;

}

/* Ensure the center container scales properly*/
#center-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: top;
  overflow: hidden;
}

#bouwdio-am {
  display: flex;
  flex-direction: column;
  height: 300px; /* Ensure they match height */
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden; /* Voorkom dat inhoud buiten de container valt */
}

#bouwdio-am-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
  border-bottom: var(--line-width) solid var(--line-color);
  border-top: var(--line-width) solid var(--line-color);
}

#info-content { /* bouwdio am info*/
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--background-gray);
  height: 300px;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
}

#online-building-window {
  display: flex;
  flex-direction: column;
  height: 100%; /* Zorgt ervoor dat het venster de volledige beschikbare hoogte benut */
  background-color: var(--background-gray);
  border-right: var(--line-width) solid var(--line-color);
  position: relative;
  justify-content: space-between;
}

#online-building-header {
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  background-color: var(--header-gray);
  border-bottom: var(--line-width) solid var(--line-color);
  border-top: var(--line-width) solid var(--line-color);
}

#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

#onsite-building-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-bottom: var(--line-width) solid var(--line-color);
  cursor: move;
}

#onsite-building {
  position: absolute;
  top: 34vh;
  left: 54vw;
  width: 450px;
  height: 350px;
  border: var(--line-width) solid var(--line-color);
  background-color: var(--background-gray);
  z-index: 1000;
  resize: both;
  overflow: hidden; /* Prevents scrollbars from showing up */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centers the iframe */
  align-items: center;     /* Centers the iframe */
  overflow: hidden; /* Prevents video from creating scrollbars */
  pointer-events: none;
}

#video-container iframe {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the container */
  border: none; /* Removes any borders on the iframe */
}

#grid {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 0px;
  background-image: url(./assets/images/test_pointillised.png);
  filter: hue-rotate(173deg);
  width: fit-content;
}

.grid-item {
  width: 20px;
  height: 20px;
  border: 1px solid #0000007b;
  background-color: #b5b5b5d1;
  filter: hue-rotate(-173deg);
}

.grid-item:hover {
  background-color: lightgreen;
}

.lisdodde {
  background-image: url('./assets/images/lisdodde.jpg');
}

.bamboo {
  background-image: url('./assets/images/bamboo.png');
}

.cork {
  background-image: url('./assets/images/cork.jpg');
}

.wood {
  background-image: url('./assets/images/wood1.png');
}

.hemp {
  background-image: url('./assets/images/fiberhemp.png');
}

.straw {
  background-image: url('./assets/images/stro-hooi.jpg');
}

.grass {
  background-image: url('./assets/images/mammothgrass.jpg');
}

.mat {
  background-image: url('./assets/images/recycledmat.jpg');
}

#drawing-board {
  width: 600px;
  height: 400px;
  background-color: transparent;
  cursor: pointer;
}

#requestDrawing,
#submitButton {
  width: 50px;
  height: 50px;
}

#materials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-top: var(--line-width) solid var(--line-color);
  box-sizing: border-box;
}

.material {
  flex: 1 1 calc(25% - 10px);
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--background-gray);
  border: var(--thumbnail-line-width) solid var(--line-color);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: -1.5px;
}

.material p {
  font-size: 11px;
  position: absolute;
  left: -5px;
  top: 50px;
}

.material.selected {
  background-color: black;
  background-image: none;
}

#eraser-button {
  flex: 1 1 calc(25% - 10px);
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--button-grey);
  border: var(--thumbnail-line-width) solid var(--line-color);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
}

#eraser-button.selected {
  background-color: black;
}

#eraser-button p {
  font-family: 'SimplisticSans-Medium', sans-serif;
  font-size: 11px;
  margin-top: 31px;
  text-align: left;
}

.material,
#eraser-button {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.material:hover,
#eraser-button:hover {
  background-color: grey;
}

/*#hover-material-name {
  font-family: 'Redaction-Bold', serif;
  color: rgb(70, 70, 70);
}*/

#material-name {
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

#material-description {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.material {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.material:hover {
  background-color: rgba(128, 128, 128, 0.185);
}

#chat-window {
  background-color: var(--background-gray);
  height: 100%;
  border: var(--line-width) solid var(--line-color);
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}

#chat-info #default-text {
  font-family: 'Open Sans', sans-serif;
  display: block; /* Standaard zichtbaar */
}

#material-info {
  font-size: 14px;
}

/* Chat Window Thumbnails Styling */
#chat-window .material {
  font-weight: bold;

}

#chat-window .material p {
  font-weight: normal;
  color: var(--button-grey);
}

#name-input-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  border-top: var(--line-width) solid var(--line-color);
  border-bottom: var(--line-width) solid var(--line-color);
}

#name-input-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-bottom: var(--line-width) solid var(--line-color);
}

.name-input {
  width: 100%; /* Zorgt ervoor dat het venster de volledige breedte vult */
  font-size: 16px;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  color: var(--header-grey);
  border: none; /* Verwijder de rand */
  outline: none;
  text-align: center;
  box-sizing: border-box; /* Inclusief padding en border */
  background-color: var(--button-grey);
}

.highlight {
  background-color: #D19A32; /* Okerkleur */
}

#bottom-right-container {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  gap: 60px;
  align-items: left;
}
/*
#connect-pause-button {
  width: 120px;
  height: 120px;
  background-color: var(--button-grey);
  color: var(--background-gray);
  font-family: 'Redaction-Bold', serif;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: var(--line-width) solid var(--line-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#connect-pause-button:hover {
  background-color: var(--line-color);
  color: white;
}
*/
#vpro-logo img {
  width: 330px;
  height: 100px;
  padding-left: 10px;
  padding-bottom: 10px;
  z-index: -1;
}

/* -------------- chat css ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.main {
  border: 8px solid #dddddd;
  border-radius: 24px;
}

.name {
  font-family: 'SimplisticSans-Medium', sans-serif;
  display: flex;
  font-size: 18px;
  color: var(--background-gray);
  background-color: var(--background-gray);
}

.name > span {
  color: var(--background-gray);
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.signal-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border: 5px solid black;
  border-radius: 20px;
}
