@font-face {
  font-family: 'Redaction-Bold';
  src: url('assets/fonts/Redaction35-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SimplisticSans-Medium';
  src: url('assets/fonts/SimplisticSans-Medium.ttf') format('truetype');
}

:root {
  --background-gray: #D9D9D9;
  --header-gray: #D9D9D9;
  --button-grey: #626262;
  --chat-send: #fbcc00;
  --chat-receive: #c1c1c1;
  --slider-colour: #fbcc00;
  --line-color: black;
  --line-width: 5px;
  --thumbnail-line-width: 2.5px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'SimplisticSans-Medium', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/test_pointillised.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

#status-window {
  position: flex;
  top: 10px;
  right: 10px;
  width: 200px;
  padding: 10px;
  background-color: var(--background-gray);
  color: white;
  border: 2px solid white;
  font-family: 'Redaction-Bold', sans-serif;
  font-size: 14px;
  z-index: 1000;
}

#pause-status-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 300px;
  background-color: var(--background-gray);
  border: var(--line-width) solid var(--line-color);
  color: black;
  z-index: 1000;
  position: relative;
}

#pause-status-window-header {
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

#disclaimer-text {
  font-family: 'SimplisticSans-Medium', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

#pause-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

#bouwdio-logo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#security-camera img {
  width: 50px;
  height: auto;
  align-items: center;
  margin: 15px 0;
}

#security-camera {
  width: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Zorgt ervoor dat het element in het midden staat */
  margin-bottom: 20px;
  background-image: url('assets/images/security-camera.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#pause-button-container {
  width: 100%;
  padding: 15px;
  border: var(--line-width) solid var(--line-color);
  margin-top: 20px;
}

#click-to-connect-button {
  width: 100%; /* Maakt de knop de volledige breedte van het parent-element */
  margin: 0; /* Verwijdert eventuele standaard marges die het kan hebben */
  box-sizing: border-box;
  background-color: var(--header-grey);
  color: var(--line-color);
  font-family: 'Redaction-Bold', serif;
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-top: var(--line-width) solid var(--line-color);
  cursor: pointer;
}

#click-to-connect-button:hover {
  background-color: var(--line-color);
  color: white;
}

#main-container {
  margin-top: -200px;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

/* Ensure the center container scales properly */
#center-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: top;
}

#bouwdio-am {
  flex: 1; /* Make them equal in width */
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure they match height */
  box-sizing: border-box;
}

#bouwdio-am-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
  border-bottom: var(--line-width) solid var(--line-color);
  border-top: var(--line-width) solid var(--line-color);
}

#name-input-window {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
  z-index: 1000;
  border: var(--line-width) solid var(--line-color);
}

#name-input-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-bottom: var(--line-width) solid var(--line-color);
}

#info-content {
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--background-gray);
  height: 300px;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
}

#chat-window {
  background-color: var(--background-gray);
  height: 100%;
  border: var(--line-width) solid var(--line-color);
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


#chat-info-default {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

#material-info {
  font-size: 14px;
}

/* Chat Window Thumbnails Styling */
#chat-window .material {
  font-weight: bold;
  margin-bottom: 5px;
}
#chat-window .material p {
  font-weight: normal;
  color: gray;
}

#chat-iframe {
  width: 100vh;
  height: 100vw;
  border: 0;
}

#online-building-window {
  background-color: var(--background-gray);
  border-right: var(--line-width) solid var(--line-color);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#online-building-header {
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--header-gray);
  border-bottom: var(--line-width) solid var(--line-color);
  border-top: var(--line-width) solid var(--line-color);
}

#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

#video-container {
  width: 100%;
  height: 100%;
}

#video-container iframe {
  width: 100%;
  height: 100%;
}

#onsite-building-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-bottom: var(--line-width) solid var(--line-color);
  cursor: move;
}

#onsite-building {
  position: absolute;
  top: 34vh;
  left: 54vw;
  width: 450px;
  height: 380px;
  border: var(--line-width) solid var(--line-color);
  background-color: var(--background-gray);
  z-index: 1000;
  resize: both;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#grid {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 0px;
  background-image: url(./assets/images/test_pointillised.png);
  filter: hue-rotate(173deg);
  width: fit-content;
}

.grid-item {
  width: 20px;
  height: 20px;
  border: 1px solid #0000007b;
  background-color: #b5b5b5d1;
  filter: hue-rotate(-173deg);
}

.grid-item:hover {
  background-color: lightgreen;
}

.lisdodde {
  background-image: url('./assets/images/lisdodde.jpg');
}

.bamboo {
  background-image: url('./assets/images/bamboo.png');
}

.cork {
  background-image: url('./assets/images/cork.jpg');
}

.wood {
  background-image: url('./assets/images/wood1.png');
}

.hemp {
  background-image: url('./assets/images/fiberhemp.png');
}

.straw {
  background-image: url('./assets/images/stro-hooi.jpg');
}

.grass {
  background-image: url('./assets/images/mammothgrass.jpg');
}

.mat {
  background-image: url('./assets/images/recycledmat.jpg');
}

#drawing-board {
  width: 600px;
  height: 400px;
  background-color: transparent;
  cursor: pointer;
}

#requestDrawing,
#submitButton {
  width: 50px;
  height: 50px;
}

#materials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-top: var(--line-width) solid var(--line-color);
  box-sizing: border-box;
}

.material {
  flex: 1 1 calc(25% - 10px);
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--background-gray);
  border: var(--thumbnail-line-width) solid var(--line-color);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: -1.5px;
}

.material p {
  font-size: 11px;
  position: absolute;
  left: -5px;
  top: 50px;
}

.material.selected {
  background-color: black;
  background-image: none;
}

#eraser-button {
  flex: 1 1 calc(25% - 10px);
  height: auto;
  aspect-ratio: 1/1;
  background-color: var(--button-grey);
  border: var(--thumbnail-line-width) solid var(--line-color);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
}

#eraser-button.selected {
  background-color: black;
}

#eraser-button p {
  font-family: 'SimplisticSans-Medium', sans-serif;
  font-size: 11px;
  margin-top: 31px;
  text-align: left;
}

.material,
#eraser-button {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.material:hover,
#eraser-button:hover {
  background-color: grey;
}

#bottom-right-container {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  gap: 60px;
  align-items: left;
}

#connect-pause-button {
  width: 120px;
  height: 120px;
  background-color: var(--button-grey);
  color: var(--background-gray);
  font-family: 'Redaction-Bold', serif;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: var(--line-width) solid var(--line-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#connect-pause-button:hover {
  background-color: var(--line-color);
  color: white;
}

#vpro-logo img {
  width: 320px;
  height: 120px;
  padding-left: 10px;
  padding-bottom: 10px;
  z-index: -1;
}

/* -------------- chat css ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  place-items: center;
  background-color: #ebebeb;
}

.main {
  border: 8px solid #dddddd;
  border-radius: 24px;
}

.name {
  font-family: 'SimplisticSans-Medium', sans-serif;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  color: var(--background-gray);
  background-color: var(--background-gray);
}

.name > span {
  color: var(--background-gray);
}

.name-input {
  font-size: 28px;
  padding: 10px;
  font-weight: 700;
  color: #707070;
  flex-grow: 1;
  border: 0;
  margin: 0 12px;
  outline: none;
  text-align: center;
  background-color: var(--header-gray);
}

/* Match Flexbox and sizing from #bouwdio-am */
.message-container {
  display: flex;
  flex-direction: column;
  background-color: var(--header-gray);
  width: 100%;
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-left,
.message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-left {
  border-radius: 20px 20px 20px 0px;
  align-self: flex-start;
  background-color: var(--chat-receive);
  box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  background-color: var(--chat-send);
  box-shadow: 2px 2px 4px #dcdcdc;
}

.message-left > p > span,
.message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
  align-self: center;
}

.feedback {
  font-style: italic;
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  color: #2d2d2d;
  background-color: #f6f6f6;
  text-align: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.v-divider {
  width: 2px;
  height: 48px;
  background-color: #f6f6f6;
}

.clients-total {
  margin: 0px 0;
  padding: 10px;
  color: #7e7e7e;
}

.signal-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border: 5px solid black;
  border-radius: 20px;
}
