@font-face {
  font-family: 'Redaction-Regular';
  src: url('../fonts/Redaction-Regular.woff2') format('woff2'),
       url('../fonts/Redaction-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Redaction-Bold';
  src: url('../fonts/Redaction-Bold.woff2') format('woff2'),
       url('../fonts/Redaction-Bold.otf') format('opentype');
}

:root {
  --background-gray: #D9D9D9;
  --header-gray: #D9D9D9;
  --button-grey: #626262;
  --chat-send: #fbcc00;
  --chat-receive: #c1c1c1;
  --slider-colour: #fbcc00;
  --line-color: black;
  --line-width: 5px;
  --thumbnail-line-width: 2.5px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/test_pointillised.png');
  background-repeat: repeat;
  background-size: 100vw;
  box-sizing: border-box;
}

#status-window {
  position: flex;
  top: 10px;
  right: 10px;
  width: 200px;
  padding: 10px;
  background-color: var(--background-gray);
  color: white;
  border: 2px solid white;
  font-family: 'Redaction-Regular', sans-serif;
  font-size: 14px;
  z-index: 1000;
}

#pause-status-window {
  display: none;
  position: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  bottom: 10px;
  right: 10px;
  padding: 20px;
  background-color: var(--background-gray);
  border: var(--line-width) solid var(--line-color);
  color: black;
  z-index: 1000;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 80vw;
  box-sizing: border-box;
}

#center-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

#bouwdio-am {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 65vh;
  box-sizing: border-box;
}

#bouwdio-am-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
  border-bottom: var(--line-width) solid var(--line-color);
  border-top: var(--line-width) solid var(--line-color);
}

#name-input-window {
  position: absolute;
  bottom: 20px;
  left: 40px;
  display: flex;
  gap: 60px;
  align-items: left;
}

#name-input-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border: var(--line-width) solid var(--line-color);
}

#info-content {
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--background-gray);
  height: 300px;
  border-left: var(--line-width) solid var(--line-color);
  border-right: var(--line-width) solid var(--line-color);
}

#chat-window {
  background-color: var(--background-gray);
  height: 600px;
  border: var(--line-width) solid var(--line-color);
  padding: 0px;
  box-sizing: border-box;
}

#chat-iframe {
  width: 100vh; /*change in chat_style.css*/
  height: 100vw;
  border: 0;
}

#online-building-window {
  background-color: var(--background-gray);
  border-right: var(--line-width) solid var(--line-color);
  position: relative;

  height: auto; /* Zorg dat de hoogte automatisch aanpast aan de inhoud */
  max-height: 600px; /* Beperk de maximale hoogte van de box */
  overflow: hidden; /* Verberg overloop om de grootte te beperken */
}

#online-building-header {
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  background-color: var(--header-gray);
  border-bottom: var(--line-width) solid var(--line-color);
  border-top: var(--line-width) solid var(--line-color);
}
#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* 20 kolommen */
  grid-template-rows: repeat(20, 1fr); /* 20 rijen */
}


#video-container {
  width: 100%;
  height: 100%;
}

#video-container iframe {
  width: 100%;
  height: 100%;
}

#onsite-building-header {
  background-color: var(--header-gray);
  font-family: 'Redaction-Bold', serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-bottom: var(--line-width) solid var(--line-color);
  cursor: move;
}
#onsite-building { 
  position: absolute;
  top: 5vh;
  left: 54vw;
  width: 450px;
  height: 380px;
  border: var(--line-width) solid var(--line-color);
  background-color: var(--background-gray);
  z-index: 1000;
  resize: both;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


#grid {
  display: grid;
  grid-template-columns: repeat(30, 20px); /* 30 columns */
  grid-template-rows: repeat(20, 20px);    /* 20 rows */
  gap: 0px; /* Optional: spacing between the divs */
  background-image: url(./assets/images/test_pointillised.png);
  filter: hue-rotate(173deg);
  width: fit-content;
}
.grid-item {
  width: 20px;
  height: 20px;
  border: 1px solid #0000007b;
  background-color: #b5b5b5d1;
  filter: hue-rotate(-173deg);
}
.grid-item:hover {
  background-color: lightgreen;
}

.lisdodde{
  background-image: url('./assets/images/lisdodde.jpg');
}

.bamboo{
  background-image: url('./assets/images/bamboo.png');
}

.cork{
  background-image: url('./assets/images/cork.jpg');
}

.wood{
  background-image: url('./assets/images/wood1.png');
}

.hemp{
  background-image: url('./assets/images/fiberhemp.png');
}

.straw{
  background-image: url('./assets/images/stro-hooi.jpg');
}

.grass{
  background-image: url('./assets/images/mammothgrass.jpg');
}

.mat{
  background-image: url('./assets/images/recycledmat.jpg');
}

#drawing-board {
  width: 600px;
  height: 400px;
  background-color: transparent;
  cursor: pointer;
}

#requestDrawing, #submitButton{
  width: 50px;
  height: 50px;
}

#materials {
  display: flex;
  justify-content: space-between; /* Verdeel de knoppen gelijkmatig over de rij */
  align-items: center;
  width: 100%; /* Zorg dat het de breedte van de container gebruikt */
  height: 60px; /* Maximale hoogte van de thumbnails container */
  padding: 0;
  border-top: var(--line-width) solid var(--line-color);
  box-sizing: border-box; /* Zorg dat de padding niet buiten de box gaat */
}

.material {
  flex: 1 1 calc(25% - 10px); /* Schalen naar 25% van de containerbreedte min marge */
  height: auto; /* Laat de hoogte zich aanpassen aan de breedte */
  aspect-ratio: 1/1; /* Zorg voor een vierkant formaat */
  background-color: var(--background-gray);
  border: var(--thumbnail-line-width) solid var(--line-color);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end; /* Plaats tekst aan de onderkant */
  margin-right: -1.5px; /* Zorg voor 1 pixel overlap */
}

.material p {
  font-size: 11px;
  position: absolute;
  left: -5px;
  top: 50px;
}

.material.selected {
  background-color: black;
  background-image:none;
}


#eraser-button {
  flex: 1 1 calc(25% - 10px); /* Schalen naar 25% van de containerbreedte min marge */
  height: auto; /* Laat de hoogte zich aanpassen aan de breedte */
  aspect-ratio: 1/1; /* Zorg voor een vierkant formaat */
  background-color: var(--button-grey);
  border: var(--thumbnail-line-width) solid var(--line-color);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end; /* Plaats tekst aan de onderkant */
}

#eraser-button.selected {
  background-color: black; /* Selected state for eraser */
}

#eraser-button p {
  font-family: 'Helvetica', sans-serif;
  font-size: 11px;
  margin-top: 31px;
  text-align: left;
}

.material, #eraser-button {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.material:hover, #eraser-button:hover {
  background-color: grey; /* Change to your desired hover color */
}


#bottom-right-container {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  gap: 60px;
  align-items: left;
}

#connect-pause-button {
  width: 120px;
  height: 120px;
  background-color: var(--button-grey);
  color: var(--background-gray);
  font-family: 'Redaction-Bold', serif;
  font-size: 21px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  border: var(--line-width) solid var(--line-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#connect-pause-button:hover {
  background-color: var(--line-color); /* Change to line color (black) */
  color: white; /* Text color changes to white */
}

#vpro-logo img {
  width: 320px; /* Adjust size as needed */
  height: 120px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: var(--background-gray);
  border: var(--line-width) solid var(--line-color);
}


/* -------------- chat css ---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  place-items: center;
  background-color: #ebebeb;
}

.main {
  border: 8px solid #dddddd;
  border-radius: 24px;
}

.name {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  padding: 8px 16px;
  color: #707070;
  background-color: #ebebeb;
}

.name > span {
  color: var(--background-gray);
}

.name-input {
  font-size: 21px;
  padding: 10px;
  font-weight: 700;
  color: #707070;
  flex-grow: 1;
  border: 0;
  margin: 0 12px;
  outline: none;
  text-align: center;
  background-color: var(--header-gray);
}

/* Match Flexbox and sizing from #bouwdio-am */
.message-container {
  display: flex;
  flex-direction: column;
  background-color: var(--header-gray);
  width: 100%; /* Take full width of parent container */
  height: 40vh; /* Take full height of parent container */
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.message-left, .message-right {
  list-style: none;
  padding: 8px 12px;
  margin: 12px;
  max-width: 250px;
  font-size: 18px;
  word-wrap: break-word;
}

.message-left {
  border-radius: 20px 20px 20px 0px;
  align-self: flex-start;
  background-color: var(--chat-receive);
  box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
  border-radius: 20px 20px 0px 20px;
  align-self: flex-end;
  background-color: var(--chat-send);
  box-shadow: 2px 2px 4px #dcdcdc;
}

.message-left > p > span, .message-right > p > span {
  display: block;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
  align-self: center;
}

.feedback {
  font-style: italic;
  font-size: 14px;
  padding: 0px 16px 16px 16px;
  color: #2d2d2d;
  background-color: #f6f6f6;
  text-align: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Match parent width */
}

.message-input {
  flex-grow: 1;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  height: 48px;
  font-size: 16px;
  border: none;
  padding: 0px 20px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.v-divider {
  width: 2px;
  height: 48px;
  background-color: #f6f6f6;
}

.clients-total {
  margin: 0px 0;
  padding: 10px;
  color: #7e7e7e;
}

.signal-circle {
  width: 30px;
  margin: 0 auto;
  height: 30px;
  border: 5px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
}